## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('C:/Users/avery/Vandy_Git/GitHub/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,73.92,79,40,14.34,light rain
1,1,Atuona,PF,-9.8000,-139.0333,77.43,73,35,20.67,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,78.76,79,69,8.81,broken clouds
3,3,Monaghan,IE,54.2500,-6.9667,57.22,94,93,9.57,overcast clouds
4,4,Odweyne,SO,9.4092,45.0640,68.34,66,82,18.66,broken clouds

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,73.92,79,40,14.34,light rain
1,1,Atuona,PF,-9.8000,-139.0333,77.43,73,35,20.67,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,78.76,79,69,8.81,broken clouds
19,19,Hasaki,JP,35.7333,140.8333,77.29,87,100,14.88,overcast clouds
24,24,Cap Malheureux,MU,-19.9842,57.6142,70.47,76,100,13.00,light rain
35,35,Hilo,US,19.7297,-155.0900,80.33,76,90,9.22,overcast clouds
36,36,Hithadhoo,MV,-0.6000,73.0833,80.26,79,100,8.99,overcast clouds
37,37,Itarema,BR,-2.9248,-39.9167,79.14,81,5,15.21,clear sky
41,41,Albany,US,42.6001,-73.9662,79.12,52,28,3.44,scattered clouds
44,44,Nurota,UZ,40.5614,65.6886,77.09,18,0,9.82,clear sky

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                270
City                   270
Country                270
Lat                    270
Lng                    270
Max Temp               270
Humidity               270
Cloudiness             270
Wind Speed             270
Current Description    270
dtype: int64

In [71]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows. (Note: No empty rows were found)
preferred_cities_clean_df = pd.DataFrame(preferred_cities_df).dropna()
preferred_cities_clean_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,73.92,79,40,14.34,light rain
1,1,Atuona,PF,-9.8000,-139.0333,77.43,73,35,20.67,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,78.76,79,69,8.81,broken clouds
19,19,Hasaki,JP,35.7333,140.8333,77.29,87,100,14.88,overcast clouds
24,24,Cap Malheureux,MU,-19.9842,57.6142,70.47,76,100,13.00,light rain
35,35,Hilo,US,19.7297,-155.0900,80.33,76,90,9.22,overcast clouds
36,36,Hithadhoo,MV,-0.6000,73.0833,80.26,79,100,8.99,overcast clouds
37,37,Itarema,BR,-2.9248,-39.9167,79.14,81,5,15.21,clear sky
41,41,Albany,US,42.6001,-73.9662,79.12,52,28,3.44,scattered clouds
44,44,Nurota,UZ,40.5614,65.6886,77.09,18,0,9.82,clear sky
45,45,Enshi,CN,30.3000,109.4833,71.13,95,11,0.94,few clouds
46,46,Meulaboh,ID,4.1363,96.1285,75.69,90,85,4.05,overcast clouds
49,49,Axim,GH,4.8699,-2.2405,77.50,75,99,6.15,overcast clouds
52,52,Jamestown,US,42.0970,-79.2353,81.72,53,75,5.75,broken clouds
54,54,Sola,VU,-13.8833,167.5500,79.11,78,35,19.24,scattered clouds
57,57,Terney,RU,45.0503,136.6092,71.17,79,5,2.71,clear sky
59,59,Iroquois Falls,CA,48.7669,-80.6831,75.34,47,100,3.96,light rain
61,61,Namatanai,PG,-3.6667,152.4333,78.80,80,93,5.82,light rain
63,63,Karachi,PK,24.9056,67.0822,82.22,83,75,16.11,smoke
64,64,Farau,RO,46.3333,24.0167,73.22,88,2,1.68,clear sky

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,73.92,light rain,-23.1203,-134.9692,
1,Atuona,PF,77.43,scattered clouds,-9.8000,-139.0333,
2,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
19,Hasaki,JP,77.29,overcast clouds,35.7333,140.8333,
24,Cap Malheureux,MU,70.47,light rain,-19.9842,57.6142,
35,Hilo,US,80.33,overcast clouds,19.7297,-155.0900,
36,Hithadhoo,MV,80.26,overcast clouds,-0.6000,73.0833,
37,Itarema,BR,79.14,clear sky,-2.9248,-39.9167,
41,Albany,US,79.12,scattered clouds,42.6001,-73.9662,
44,Nurota,UZ,77.09,clear sky,40.5614,65.6886,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [86]:
# 7. Drop the rows where there is no Hotel Name.
import pandas as pd
import numpy as np
hotel_df.replace("", np.nan, inplace = True)
clean_hotel_df = pd.DataFrame(hotel_df).dropna()
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,73.92,light rain,-23.1203,-134.9692,People ThankYou
1,Atuona,PF,77.43,scattered clouds,-9.8000,-139.0333,Villa Enata
2,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Hasaki,JP,77.29,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
24,Cap Malheureux,MU,70.47,light rain,-19.9842,57.6142,Pereybere Hotel & Spa
35,Hilo,US,80.33,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
36,Hithadhoo,MV,80.26,overcast clouds,-0.6000,73.0833,Scoop Guest House
37,Itarema,BR,79.14,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
44,Nurota,UZ,77.09,clear sky,40.5614,65.6886,Guest House Ruslan Nurata & Tours
45,Enshi,CN,71.13,few clouds,30.3000,109.4833,Moevenpick Enshi
46,Meulaboh,ID,75.69,overcast clouds,4.1363,96.1285,Kost Pria
49,Axim,GH,77.50,overcast clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
52,Jamestown,US,81.72,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
54,Sola,VU,79.11,scattered clouds,-13.8833,167.5500,Leumerus Bungalows
57,Terney,RU,71.17,clear sky,45.0503,136.6092,"Hotel ""Ternay"""
59,Iroquois Falls,CA,75.34,light rain,48.7669,-80.6831,Auberge MacDonald Guest Inn
61,Namatanai,PG,78.80,light rain,-3.6667,152.4333,Seagulls Inn Namatani
63,Karachi,PK,82.22,smoke,24.9056,67.0822,Sadaat
64,Farau,RO,73.22,clear sky,46.3333,24.0167,CABANA DIN HODĂII
68,Torbay,CA,74.17,broken clouds,47.6666,-52.7314,Gallows Cove

In [85]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [89]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [92]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))